<div class="notification-dialog">

  <!-- HEADER -->
  <div class="dialog-header">

    <div class="header-title">

      <div class="bell-icon">
        <mat-icon>
          notifications
        </mat-icon>
      </div>

      <div>
        <h2>Notifications</h2>

        <p>
          {{ unreadCount }} unread notification{{ unreadCount !== 1 ? 's' : '' }}
        </p>
      </div>

    </div>


    <button
      mat-icon-button
      (click)="close()">

      <mat-icon>
        close
      </mat-icon>

    </button>

  </div>


  <!-- ACTION BAR -->

  <div class="action-bar">

    <span>
      Recent notifications
    </span>

    @if (unreadCount > 0) {

      <button
        mat-button
        color="primary"
        (click)="markAllAsRead()">

        <mat-icon>
          done_all
        </mat-icon>

        Mark all as read

      </button>

    }

  </div>


  <!-- LOADING -->

  @if (isLoading) {

    <div class="loading">

      <mat-icon>
        sync
      </mat-icon>

      <span>
        Loading notifications...
      </span>

    </div>

  }


  @else {

    <!-- EMPTY -->

    @if (notifications.length === 0) {

      <div class="empty">

        <div class="empty-icon">

          <mat-icon>
            notifications_none
          </mat-icon>

        </div>

        <h3>
          No notifications
        </h3>

        <p>
          You're all caught up.
        </p>

      </div>

    }


    <!-- NOTIFICATION LIST -->

    @else {

      <div class="notification-list">

        @for (
          notification of notifications;
          track notification._id
        ) {

          <div
            class="notification-item"
            [class.unread]="
              !notification.isRead
            "
            (click)="markAsRead(notification)">


            <!-- ICON -->

            <div
              class="notification-icon"
              [class]="notification.type">

              <mat-icon>

                {{
                  getIcon(
                    notification.type
                  )
                }}

              </mat-icon>

            </div>


            <!-- CONTENT -->

            <div class="notification-content">

              <div class="title-row">

                <strong>

                  {{
                    notification.title
                  }}

                </strong>


                @if (
                  !notification.isRead
                ) {

                  <span
                    class="unread-dot">
                  </span>

                }

              </div>


              <p>

                {{
                  notification.message
                }}

              </p>


              <small>

                {{
                  getTime(
                    notification.createdAt
                  )
                }}

              </small>

            </div>


            <!-- DELETE -->

            <button
              mat-icon-button
              class="delete-btn"
              title="Delete notification"
              (click)="
                deleteNotification(
                  notification,
                  $event
                )
              ">

              <mat-icon>
                delete_outline
              </mat-icon>

            </button>

          </div>

        }

      </div>

    }

  }


  <!-- FOOTER -->

  <div class="dialog-footer">

    <button
      mat-button
      color="primary"
      (click)="viewAll()">

      View all notifications

      <mat-icon>
        arrow_forward
      </mat-icon>

    </button>

  </div>

</div>