<div class="cart">

    <div class="hader-cart">
        <div (click)="close()" class="clse-cart"> <mat-icon>close</mat-icon> </div>
        <h2>My Cart Summary</h2>
        <p>Your order from ...</p>
    </div>
    <div class="item-add">
        <div class="items">
            <div class="img">
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="text">
                <h3>The Ordinary Retino sada asdsada</h3>
                <p> <span>$9.50 /</span>  38,950៛</p>
            </div>
            <div class="main-add-cart">
                <div class="plus-minus">
                    <div class="minus"><mat-icon>remove</mat-icon></div>
                    <p>0</p>
                    <div class="plus"><mat-icon>add</mat-icon></div>
                </div>
            </div>
        </div>
    </div>
    <div routerLink="/products/checkout" (click)="close()" class="add-checkout">
        <div class="count-item">0</div>
        <h4>Checkout</h4>
        <mat-icon>arrow_forward_ios</mat-icon>
    </div>

</div>