<div class="main-order-online">
    <div class="menu-bar">
        <ul>
            <li>ទាំងអស់</li>
            <li>អាហារសម្រន់ (Appetizers)</li>
            <li>មុខម្ហូបចម្បង (Main Course)</li>
            <li>បង្អែម (Desserts)</li>
            <li>ភេសជ្ជៈ (Drinks)</li>
        </ul>
    </div>
    <div class="item-grid-all">
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>