
<div class="main-home">
    <div class="main-slider">
        <div class="diplay-menu">
            <div class="text-menu">
                <h2>សូមស្វាគមន៍មកកាន់ Foodie Restaurant</h2>
                <p style="color: white;">ជ្រើសរើសរបៀបកុម្ម៉ង់អាហារដែលអ្នកពេញចិត្ត ដើម្បីទទួលបានបទពិសោធន៍ដ៏ល្អបំផុត</p>
                <div class="book-table-and-order-online">
                    <ul>
                        <li routerLink="/products/table-booking" class="flex-column">
                            <div class="logo flex-center">
                                <mat-icon>local_dining</mat-icon>
                            </div>
                            <div class="text flex-center flex-column">
                                <h4>
                                    <h4>មកញ៉ាំនៅហាង</h4>
                                </h4>
                                <p>ទទួលយកបរិយាកាសដ៏កក់ក្តៅ និងសេវាកម្មដ៏ល្អឥតខ្ចោះក្នុងហាងផ្ទាល់</p>
                            </div>
                            <button routerLink="/products/table-booking">កក់តុឥឡូវនេះ</button>
                        </li>
                        <li routerLink="/products/order-online" class="flex-column">
                            <div class="logo flex-center">
                                <mat-icon>moped</mat-icon>
                            </div>
                            <div class="text flex-center flex-column">
                                <h4>
                                    <h4>កម្ម៉ង់តាមអនឡាញ</h4>
                                </h4>
                                <p>កម្ម៉ង់ម្ហូបដែលអ្នកចូលចិត្ត ផ្ញើជូនដល់គេហដ្ឋានយ៉ាងរហ័ស</p>
                            </div>
                            <button>កម្ម៉ង់ឥឡូវនេះ</button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-tranding">
        <h2 style="color:var(--bg-green);">មុខម្ហូបពេញនិយមបំផុត</h2>
        <div class="trandin-menu">
            <!-- carousel.component.html -->
            <swiper-container navigation="true" pagination="true" loop="true" slides-per-view="5" breakpoints='{
            "0": {
            "slidesPerView": 2
            },
            "640": {
            "slidesPerView": 3
            },
            "768": {
            "slidesPerView": 4
            },
            "1024": {
            "slidesPerView": 5
            }
        }'>

                <swiper-slide>
                    <div class="item-diplay">
                        <div class="item-nav">
                            <span>$12.00 / 49,200៛</span>
                            <img src="/assets/tranding.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                            <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                            <div class="star-add-cart">
                                <div class="start">
                                    <mat-icon>star</mat-icon>
                                    <p>4.9(120+)</p>
                                </div>
                                <div class="add-cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="item-diplay">
                        <div class="item-nav">
                            <span>$12.00 / 49,200៛</span>
                            <img src="/assets/tranding.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                            <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                            <div class="star-add-cart">
                                <div class="start">
                                    <mat-icon>star</mat-icon>
                                    <p>4.9(120+)</p>
                                </div>
                                <div class="add-cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="item-diplay">
                        <div class="item-nav">
                            <span>$12.00 / 49,200៛</span>
                            <img src="/assets/tranding.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                            <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                            <div class="star-add-cart">
                                <div class="start">
                                    <mat-icon>star</mat-icon>
                                    <p>4.9(120+)</p>
                                </div>
                                <div class="add-cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="item-diplay">
                        <div class="item-nav">
                            <span>$12.00 / 49,200៛</span>
                            <img src="/assets/tranding.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                            <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                            <div class="star-add-cart">
                                <div class="start">
                                    <mat-icon>star</mat-icon>
                                    <p>4.9(120+)</p>
                                </div>
                                <div class="add-cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="item-diplay">
                        <div class="item-nav">
                            <span>$12.00 / 49,200៛</span>
                            <img src="/assets/tranding.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                            <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                            <div class="star-add-cart">
                                <div class="start">
                                    <mat-icon>star</mat-icon>
                                    <p>4.9(120+)</p>
                                </div>
                                <div class="add-cart">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper-slide>

                <swiper-slide>Slide 3 Content</swiper-slide>
                <swiper-slide>Slide 3 Content</swiper-slide>
                <swiper-slide>Slide 3 Content</swiper-slide>
                <swiper-slide>Slide 3 Content</swiper-slide>
                <swiper-slide>Slide 3 Content</swiper-slide>
                <swiper-slide>Slide 3 Content</swiper-slide>

            </swiper-container>

        </div>
    </div>
    <div class="poster-discound">
        <div>ការផ្តល់ជូនពិសេស</div>
        <h2>បញ្ចុះតម្លៃ ២០% រាល់ការកម្ម៉ង់ដំបូង!</h2>
        <p>ប្រើប្រាស់កូដ "NEWFOODIE" សម្រាប់ការបញ្ចុះតម្លៃដ៏អស្ចារ្យនេះ។</p>
        <button>កម្ម៉ង់ឥឡូវនេះ</button>
        <img src="assets/poster.png" alt="">

    </div>

    <div class="menu-items">
        <ul>
            <li>ទាំងអស់</li>
            <li>មុខម្ហូបប្រចាំហាង</li>
            <li>ភេសជ្ជៈ</li>
            <li>បង្អែម</li>
            <li>អាហារសម្រន់</li>
        </ul>
    </div>

    <div class="item-grid-all">
        <div routerLink="/products/product-detail" class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-diplay">
            <div class="item-nav">
                <span>$12.00 / 49,200៛</span>
                <img src="/assets/tranding.jpg" alt="">
            </div>
            <div class="item-body">
                <h3>សាឡាត់ត្រីសាល់ម៉ុនពិសេស</h3>
                <p>ត្រីសាល់ម៉ុនស្រស់ៗ ផ្សំជាមួយបន្លែបៃតងធម្មជាតិ និងទឹកជ្រលក់រូបមន្តពិសេស…</p>
                <div class="star-add-cart">
                    <div class="start">
                        <mat-icon>star</mat-icon>
                        <p>4.9(120+)</p>
                    </div>
                    <div class="add-cart">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
