<div class="main-table-booking">
    <h3>កក់តុ (Book a Table)</h3>

    <div class="stab-by-stab">
        <ul>
            <li><span>1</span>
                <p>ជ្រើសរើសតុ</p>
            </li>
            <li><span>2</span>
                <p>ព័ត៌មានលម្អិត</p>
            </li>
            <li><span>3</span>
                <p>ការបញ្ជាក់</p>
            </li>
        </ul>
    </div>
    <div class="grid-table">
        <div class="left-table">
            <div class="paty-size">
                <mat-form-field appearance="outline" class="mat-form-field-1">
                    <mat-label>ចំនួនភ្ញៀវ</mat-label>
                    <mat-select [(value)]="selectedParty">
                        @for(item of [1,2,3,4,5,6,7,8,9,10,11,12,13]; track item){
                        <mat-option [value]="item">
                            {{ item }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mat-form-field-1">
                    <mat-label>ជ្រើសរើសថ្ងៃ</mat-label>

                    <mat-select [(value)]="selectedDate">
                        @for(item of dates; track item.date){
                        <mat-option [value]="item.date">
                            {{ item.label || (item.date | date:'EEEE') }}
                            - {{ item.date | date:'dd MMMM' }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="select-time">
                <mat-form-field appearance="outline" class="mat-form-field-2">
                    <mat-label>ជ្រើសរើសម៉ោង</mat-label>
                    <mat-select [(value)]="selectedTime">
                        <mat-optgroup label="ពេលព្រឹក (Morning)">
                            @for(item of morningTimes; track item){
                            <mat-option [value]="item">
                                {{ item }}
                            </mat-option>
                            }
                        </mat-optgroup>

                        <mat-optgroup label="ថ្ងៃត្រង់ (Afternoon)">
                            @for(item of afternoonTimes; track item){
                            <mat-option [value]="item">
                                {{ item }}
                            </mat-option>
                            }
                        </mat-optgroup>

                        <mat-optgroup label="ល្ងាច (Evening)">
                            @for(item of eveningTimes; track item){
                            <mat-option [value]="item">
                                {{ item }}
                            </mat-option>
                            }
                        </mat-optgroup>

                    </mat-select>
                </mat-form-field>
            </div>
            <div class="reservation-container">

                <!-- Seating Area -->
                <section class="reservation-section">
                    <div class="section-title">
                        <mat-icon>location_on</mat-icon>
                        <div>
                            <h4>តំបន់អង្គុយ</h4>
                            <span>Seating Area</span>
                        </div>
                    </div>
                    <div class="seating-grid">
                        @for (item of seatingAreas; track item.id) {
                        <mat-card class="seating-card" [class.active]="selectedArea === item.id"
                            (click)="setArea(item.id)">

                            <div class="image-wrapper">
                                <img [src]="item.image" [alt]="item.name">

                                @if (selectedArea === item.id) {
                                <div class="selected-icon">
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                }
                            </div>

                            <mat-card-content>
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.desc }}</p>
                            </mat-card-content>

                        </mat-card>
                        }
                    </div>
                </section>
                <!-- Table Selection -->
                <section class="reservation-section">

                    <div class="section-title">
                        <mat-icon>table_restaurant</mat-icon>
                        <div>
                            <h4>ជ្រើសរើសទីតាំងតុ</h4>
                            <span>Table Selection</span>
                        </div>
                    </div>
                    <!-- Legend -->
                    <div class="table-legend">

                        <div class="legend-item">
                            <span class="legend-color available"></span>
                            <span>អាចកក់បាន</span>
                        </div>

                        <div class="legend-item">
                            <span class="legend-color occupied"></span>
                            <span>មានភ្ញៀវ</span>
                        </div>

                        <div class="legend-item">
                            <span class="legend-color selected"></span>
                            <span>តុដែលបានជ្រើសរើស</span>
                        </div>

                    </div>


                    <!-- Restaurant Layout -->
                    <mat-card class="restaurant-layout">

                        <div class="entrance">
                            <mat-icon>door_front</mat-icon>
                            <span>ច្រកចូល</span>
                            <small>ENTRANCE</small>
                        </div>
                        <div class="tables">
                            @for (table of filteredTables; track table._id) {
                            <button mat-fab class="table" [ngClass]="{
                                'available': table.status === 'available',
                                'selected': selectedTable?._id === table._id,
                                'disabled': table.status === 'occupied'
                                }" [disabled]="table.status === 'occupied'" (click)="selectTable(table)">

                                @if (selectedTable?._id === table._id) {

                                <mat-icon>check</mat-icon>
                                } @else {
                                <strong>{{ table.tableNumber }}</strong>
                                <span>
                                    {{ table.seats }} នាក់
                                </span>
                                }
                            </button>
                            }
                        </div>
                    </mat-card>
                </section>
            </div>
            <div class="contact-information">
                <div class="contact-header">
                    <div class="header-icon">
                        <mat-icon>person</mat-icon>
                    </div>
                    <div>
                        <h3>ព័ត៌មានទំនាក់ទំនង</h3>
                        <p>Contact Information</p>
                    </div>
                </div>
                <div class="contact-body">
                    <form [formGroup]="bookingForm">
                        <!-- Full Name + Phone -->
                        <div class="form-row">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>ឈ្មោះពេញ</mat-label>
                                <mat-icon matPrefix>person_outline</mat-icon>
                                <input matInput type="text" formControlName="fullName" placeholder="បញ្ចូលឈ្មោះពេញ">
                                @if (
                                    bookingForm.get('fullName')?.hasError('required')
                                    && bookingForm.get('fullName')?.touched
                                ) {
                                <mat-error>
                                    សូមបញ្ចូលឈ្មោះពេញ
                                </mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-label>លេខទូរស័ព្ទ</mat-label>
                                <mat-icon matPrefix>phone</mat-icon>
                                <input matInput type="tel" formControlName="phoneNumber" placeholder="012 345 678">
                                @if (
                                bookingForm.get('phoneNumber')?.hasError('required')
                                && bookingForm.get('phoneNumber')?.touched
                                ) {
                                <mat-error>
                                    សូមបញ្ចូលលេខទូរស័ព្ទ
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <!-- Email -->
                        <mat-form-field appearance="outline" class="form-field full-width">
                            <mat-label>អ៊ីមែល</mat-label>
                            <mat-icon matPrefix>email</mat-icon>
                            <input matInput type="email" formControlName="email" placeholder="example@gmail.com">
                            <mat-hint>
                                អ៊ីមែលជាជម្រើស (Optional)
                            </mat-hint>
                        </mat-form-field>
                        <!-- Special Request -->
                        <mat-form-field appearance="outline" class="form-field full-width">
                            <mat-label>
                                សំណូមពរពិសេស
                            </mat-label>
                            <mat-icon matPrefix>notes</mat-icon>

                            <textarea matInput rows="5" formControlName="specialRequest"
                                placeholder="ឧ. ចង់បានតុក្បែរបង្អួច...">
                            </textarea>
                            <mat-hint>
                                Allergies, Birthday, Anniversary ឬសំណូមពរផ្សេងៗ
                            </mat-hint>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-table">
            <div class="main-summary">
                <h4>សេចក្តីសង្ខេប (Summary)</h4>
                <hr style="margin: 15px 0 15px 0;  opacity: 40%;">
                <ul>
                    <li>
                        <mat-icon>group</mat-icon>
                        <div class="groups">
                            <h3>ចំនួនភ្ញៀវ</h3>
                            <p>{{selectedParty}} នាក់</p>
                        </div>
                    </li>
                    <li>
                        <mat-icon>group</mat-icon>
                        <div class="groups">
                            <h3>កាលបរិច្ឆេទ</h3>
                            <p>{{selectedDate || 'មិនបានជ្រើសរើស (Not Selected)' }}</p>
                        </div>
                    </li>
                    <li>
                        <mat-icon>timer</mat-icon>
                        <div class="groups">
                            <h3>ម៉ោង</h3>
                            <p>{{selectedTime|| 'មិនបានជ្រើសរើស (Not Selected)' }}</p>
                        </div>
                    </li>
                    <li>
                        <mat-icon> border_all</mat-icon>
                        <div class="groups">
                            <h3>តំបន់</h3>
                            <p>{{selectedSeatingArea?.name|| 'មិនបានជ្រើសរើស (Not Selected)'}}</p>
                        </div>
                    </li>
                    <li>
                        <mat-icon>table_bar</mat-icon>
                        <div class="groups">
                            <h3>លេខតុ</h3>
                            <p>{{ selectedTable?._id|| 'មិនបានជ្រើសរើស (Not Selected)' }} ({{selectedTable?.seats}}
                                នាក់)
                            </p>
                        </div>
                    </li>
                </ul>
                <hr style="margin: 15px 0 15px 0;  opacity: 40%;">
                <div class="bookink-price">
                    <h4>ថ្លៃសេវាកក់ (Booking Fee)</h4>
                    <span>$0.00 / 0៛</span>
                </div>
                <button (click)="confirmBooking()">បញ្ជាក់ការកក់ <mat-icon>arrow_right_alt</mat-icon></button>
                <div class="agry">ដោយចុច "បញ្ជាក់ការកក់" អ្នកយល់ព្រមតាមលក្ខខណ្ឌរបស់យើង។</div>

            </div>
            <div class="info-dateline">
                <mat-icon>info</mat-icon>
                <p>ការកក់អាចលុបចោលវិញបានមុន ២ ម៉ោង នៃម៉ោងកក់។</p>
            </div>
        </div>

    </div>

</div>