<div class="main-menu">
    <div class="acc-users">
        <div class="profile-img">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="profile image">
        </div>
        <div class="profile-name">
            <h3>user name</h3>
            <p>user email</p>
        </div>
    </div>
    <ul>
        <li>
            <mat-icon>photo_prints</mat-icon>
            <span>My orders</span>
        </li>

        <li>
            <mat-icon>location_on</mat-icon>
            <span>Locations</span>
        </li>
    </ul>
    <h4 routerLink="/main-dashboard">Log Out</h4>
</div>