.main-chackout {
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

@media (min-width: 1500px) {
    .main-chackout {
        width: 1500px;
        margin: 0 auto;
    }
}
.main-grid{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
@media (max-width: 1000px) {
    .main-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .select-right{
        grid-column: span 2;
    }
}   
.select-left{
    width: 100%;
    grid-column: span 2;
}
.select-right{
    padding: 20px;
   border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    color: var(--bg-green);
    border-radius: 5px;
    width: 100%;
}
.select-location{
    border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    color: var(--bg-green);
    border-radius: 5px;
    width: 100%;

}
.select-location h3{
    align-items: center;
    justify-content: start;
    display: flex;
}
.select-location ul{
    margin-top: 20px;
    gap: 10px;
    display: flex;
}
.select-location ul li{
    font-size: 18px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
   border: 2px solid rgb(226, 226, 226);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: flex;
}
.select-location ul li:hover{
    background-color: rgb(236, 236, 236);
}
.agree-location{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
     border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    color: var(--bg-green);
    border-radius: 10px;
    width: 100%;
}
.agree-location .home-text{
    color: rgb(65, 65, 65);
display: flex;
gap: 5px;
}
.agree-location .home-text .text-in{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.payments{
    margin-top: 20px;
    border: 2px solid rgb(226, 226, 226);
    padding: 20px;
    color: var(--bg-green);
    border-radius: 5px;
    width: 100%;
}
.payments h3{
    gap: 10px;
    align-items: center;
    justify-content: start;
    display: flex;
}
.payments ul{
    
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.payments ul li{
    font-size: 16px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    flex-direction: row;
    border-radius: 10px;
   border: 1px solid rgb(226, 226, 226);
    align-items: center;
    gap: 10px;
    display: flex;
    background-color: rgb(236, 236, 236);
}
.icon{
    display: flex;
    gap: 10px;
}
.icon input[type="radio"] {
   width: 20px;
   height: 20px;
}
.text-boby h3{
    font-size: 16px;
    color: rgb(65, 65, 65);
}
.text-boby p{
    font-size: 14px;
    color: rgb(148, 148, 148);
}
.payments ul li:hover{
    background-color: #33415525;
}
label:has(input[type="radio"]:checked) li {
    background: #E8F5E9 !important;
    border-color: #4CAF50 !important;
}

.items-order{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 10px;
    border: 1px solid rgb(226, 226, 226);
    padding: 8px;
    border-radius: 6px;
}
.items-order .img{
    width: 80px;
    overflow: hidden;
    border-radius: 5px;
    height: 80px;
}
.items-order .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-order{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%; 
}
.total-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-summary button{
    background-color: var(--bg-green);
    color: white;
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.order-summary button:hover{
    background-color: var(--bg-green-hover);
}


